<div class="purchased-ticket">
    <div class="purchased-left">
        <img src="{{img}}" alt="">
    </div>
    <div class="purchased-right">
        <div>
            <h3>{{destination}}</h3><span>{{date}}</span>
        </div>
        <div>
            from {{myFlights.origin}} <span>{{departure}}</span>
        </div>
        <p>{{seats}} Seats ({{cost}}$ per seat) </p>
        <a href="" class="remove">REMOVE</a>
    </div>
</div>